@model StudentRegistration.Models.User

@{
    ViewData["Title"] = "User Forgot";
}

<section>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card shadow" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h5 class="text-uppercase text-center mb-5">Forgot an Account</h5>

<div class="row">
    <div class="form-outline mb-4">
        <form asp-action="Forgot" asp-controller="UserLogin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Username" class="form-label"></label>*@
            <div class="input-group form-group">
				<div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-user"></i></span>
				</div>
                <input asp-for="Username" class="form-control" placeholder="Username" />
				</div>
                <span asp-validation-for="Username" class="text-danger"></span>
                <p style="color:red;">@ViewBag.forgotError</p>
             </div>

            @*<div class="form-group">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control form-control-lg" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control form-control-lg" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                @ViewBag.forgotError
             </div>*@
            <div class="d-flex justify-content-center">
                <input style="margin-top:5px;" type="submit" value="Next" class="form-control btn btn-primary" /> &nbsp;
            </div>
            <p class="text-center text-muted mt-3 mb-0"><a asp-action="LogIn" class="fw-bold text-body">User Login</a></p>

        </form>
    </div>
</div>

</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

